# Virtual Environment
venv/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt

# Massive PDFs (Not needed since chroma_db is pre-built)
*.pdf

# Logs
server.log
*.log

# Git
.git/
.gitignore
.github/
